<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>at.zujab.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.5</string>
	<key>CodaAuthorString</key>
	<string>Theo Weidmann</string>
	<key>CodaDescriptionString</key>
	<string>Small Coda plug-in that compiles less files on save.</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>7</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<string>7</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Theo Weidmann. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>CodaLess.CodaLess</string>
</dict>
</plist>
